@import url(../main.css);

/* hero section */

.heroSwiper {
    height: 85vh;
}

.hero_slider {
    position: relative;
    width: 100%;
    background: url('../../img/home/slider_1.webp') no-repeat center/cover;
    z-index: -1;
}

.hero_slider:nth-child(1)::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #12121279;
    z-index: -1;
}

.slider_img img {
    width: 100%;
    object-fit: cover;
    height: 480px;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.8));
}

.hero_slider img {
    transition: 0.4s;
}

.hero_slider:hover img {
    transform: scale(1.04);
}

.slider_img {
    display: flex;
    justify-content: center;
    flex-basis: 40%;
}

.slider_content h2 {
    letter-spacing: 1.5px;
    color: var(--text-color);
    filter: drop-shadow(2px 3px 3px rgba(0, 0, 0.4));
}

.slider_content p {
    letter-spacing: 1.5px;
    color: var(--accent-color);
    filter: drop-shadow(2px 3px 3px rgba(255, 255, 255, 0.1));

}

.slider_content button {
    background: var(--primary-color);
    padding: 10px 14px;
    border: 1px solid var(--dark-primary);
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    transition: 0.4s;
    color: var(--dark-primary);
    position: relative;
}

.slider_content button::before {
    content: '';
    position: absolute;
    width: 0%;
    left: 0;
    top: 0;
    height: 100%;
    transition: 0.4s;
    background: var(--accent-color);
}

.slider_content button:hover::before {
    width: 100%;
}

.slider_content button:hover {
    transform: scale(1.03);
}

.slider_content button span {
    position: relative;
    z-index: 1;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
    color: #ff6600;
}

swiper-container::part(button-next),
swiper-container::part(button-prev) {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid var(--dark-primary);
    box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.2);
    color: var(--dark-primary);
    transition: 0.4s;
}

swiper-container::part(button-next):hover,
swiper-container::part(button-prev):hover {
    transform: scale(1.04);
}

.mySwiper {
    --swiper-navigation-size: 24px;
}

.section_head_text h2{
    color: var(--primary-color);
    font-weight: 800;
    letter-spacing: 1.5px;
}

/* featured products */
.featured_product {
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}

.featured_product:hover {
    transform: scale(1.01);
}

.featured_product .featured_product_img img {
    transition: 0.4s;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.featured_product:hover .featured_product_img img {
    transform: scale(1.05);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
}

.featured_product_img img {
    width: 280px;
}

.featured_product_img {
    border-bottom: 2px solid var(--dark-primary);
}

.featured_products {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 2rem;
}

.featured_products {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.featured_product {
    border: 1px solid var(--dark-primary);
    width: 340px;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.featured_product_con {
    padding: 10px;
    color: var(--dark-primary);
}

.featured_product_con h2 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 12px;
    font-size: clamp(18px, 2vw, 22px);
}

.featured_product_con button {
    text-transform: uppercase;
    padding: 2px 15px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid var(--text-color);
}


/* offer banner */
.offer_banner{
    height: 500px;
    position: relative;
    border: 3px solid var();
    width: 100%;
    z-index: 1;
    background: linear-gradient(to left,var(--accent-color),var(--dark-primary));
}

.bg_img,.offer_img{
position: absolute;
left: 0;
z-index: -1;
}
.bg_img img{
  height: max-content;
}

.offer_img img{
 filter: drop-shadow(2px 3px 3px rgba(0,0,0,0.4));
}
.banner_content{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.offer_heading{
    text-transform: uppercase;
    color: var(--text-color);
    font-size: clamp(28px,4vw,48px);
    margin-bottom: 20px;
}
.banner_slogan{
    margin-left: 8rem;
    color: var(--dark-primary);
    filter: drop-shadow(2px 2px 2px rgba(255,255,255,0.3));
    font-size: clamp(28px,3vw,38px);
    
}
.offer_line_content{
    color: var(--text-color);
    margin-top: 20px;
    font-size: clamp(28px,3vw,38px);
    margin-left: 15rem;
    text-align: end;
}
.offer_line_content span{
    font-size: clamp(38px,3vw,48px);
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.3));
    -webkit-text-stroke: 1px var(--dark-primary);

}
.offer_deal_btn {
    margin-top: 3rem;
}
.offer_deal_btn button{
    background: var(--primary-color);
    padding: 18px 20px;
    border-radius: 4px;
    font-size: clamp(18px,2vw,22px);
    color: var(--dark-primary);
    text-transform: uppercase;
    border: 1px solid var(--dark-primary);
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);
    transition: 0.4s;
}
.offer_deal_btn button:hover{
    transform: scale(1.02);
}
.banner_product_img {
    position: absolute;
right: 2rem;
bottom: 20px;

}
.banner_product_img  img{
    width: 200px;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.4));
}
.bottom_banner_text{
    margin-top: 3rem;
   color: var(--primary-color);
   filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.4));
   text-transform: uppercase;
   font-size: clamp(22px,2vw,38px);
}
.banner_logo{
    position: absolute;
    top: 10px;
right: 10px;
}
.banner_logo img{
    width: 380px;
}

/* why varioshine */
.head_text_why{
    margin-bottom: 3rem;
    color: var(--dark-primary);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
}
.why_section_main{
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 4rem;
    width: 100%;
    margin-top: 4rem;
}
.why_section_img{
    flex-basis:40%;
}
.why_section_img img{
    width: 100%;
transition: 0.4s;
border-radius: 3px;
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
padding: 2px;
border: 2px solid var(--dark-primary);
}
.why_section_img img:hover{
    transform: scale(1.03);
}
.why_point_item{
    border: 1px solid var(--accent-color);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
}
.why_point_item:hover{
    transform: scale(1.03);
}


/* products */

.our_products{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.our_products_head h2{
    color: var(--primary-color);
    letter-spacing: 1.9px;
    font-weight: 800;
}
.products_swiper{
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
}
.product_swiper{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 500px;
border-radius: 4px;
overflow: hidden;
border: 2px solid var(--dark-primary);
}
.product_swiper img{
    transition: 0.3s;
}
.product_swiper:hover img{
    transform: scale(1.02);
}
.product_swiper img{
    width: 120px;
}
.product_swiper_img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--dark-primary);
}
.product_swiper_con{
    padding: 20px;
}
.product_main_head{
    text-align: center;
    font-size: clamp(22px,2vw,25px);
    margin-bottom: 10px;
}
.product_sec_head{
    font-size: clamp(15px,1.5vw,18px);
    text-align: center;
}
.price_product{
display: flex;
padding: 10px;
align-items: center;
margin-top: 10px;
justify-content: space-around;
}
.price_product button{
    background: var(--accent-color);
    padding: 8px 12px;
    color: var(--text-color);
    border-radius: 3px;
    text-transform: uppercase;

}
.price_product h2{
    font-size: clamp(22px,2vw,25px);
}


/* feedback */
.feedback_section_main{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.feedback_section{
    padding: 20px;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    display: flex;
align-items: center;
gap: 2rem;
}
.feedback_container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: var(--light-primary);
    border: 1px solid var(--dark-primary);
    padding: 20px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}
.feedback_content p{
    width: 100%;
    text-align: justify;
    margin-top: 1rem;
    color: var(--dark-primary);

}
.feedback_swiper{
    max-width: 980px;
}
.feedback_heading{
    margin-bottom: 2rem;
    font-size: clamp(23px,3vw,38px);
    font-weight: 800;
    color: var(--dark-primary);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.feedback_person_name h2{
    text-align: center;
    font-size: clamp(18px,2vw,22px);
    text-transform: uppercase;
    color: var(--primary-color);
}
.feedback_product_name {
    margin-top: 1rem;
    text-align: center;
    font-size: clamp(16px,2vw,20px);

}
.feedback_input{
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;
}
.feedback_input button{
    font-size: clamp(22px,3vw,24px);
    color: var(--text-color);
    background: var(--primary-color);
  border-radius: 4px;
  transition: 0.4s;
  padding: 8px 15px;
  text-transform: uppercase;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4);
}
.feedback_input button:hover{
    color: var(--primary-color);
    background: var(--dark-primary);
}
.feedback_icon {
font-size: 2rem;
margin-bottom: 1rem;
color: var(--dark-primary);
}